# Android specific
lint.xml
local.properties
release.properties
*.class
*.apk

# Gradle
.gradle
build

# Maven
target
pom.xml.*

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ IDEA
.idea
*.iml

# OS Specific
[Tt]humbs.db
.DS_Store

# fastlane specific
fastlane/report.xml
# deliver temporary files
fastlane/Preview.html
# snapshot generated screenshots
fastlane/screenshots
# scan temporary files
fastlane/test_output

# omit for now:
fastlane/Appfile