[submodule "extern/openpgp-api-lib"]
	path = extern/openpgp-api-lib
	url = https://github.com/open-keychain/openpgp-api.git
	ignore = dirty
[submodule "OpenKeychain/src/test/resources/openpgp-interop"]
	path = OpenKeychain/src/test/resources/openpgp-interop
	url = https://github.com/google/openpgp-interop
	ignore = dirty
[submodule "extern/bouncycastle"]
	path = extern/bouncycastle
	url = https://github.com/open-keychain/bouncycastle.git
	ignore = dirty
