[submodule "extern/StickyListHeaders"]
	path = extern/StickyListHeaders
	url = https://github.com/open-keychain/StickyListHeaders.git
[submodule "extern/zxing-android-integration"]
	path = extern/zxing-android-integration
	url = https://github.com/open-keychain/zxing-android-integration.git
[submodule "extern/zxing-qr-code"]
	path = extern/zxing-qr-code
	url = https://github.com/open-keychain/zxing-qr-code.git
[submodule "extern/AppMsg"]
	path = extern/AppMsg
	url = https://github.com/open-keychain/Android-AppMsg.git
[submodule "extern/spongycastle"]
	path = extern/spongycastle
	url = https://github.com/open-keychain/spongycastle.git
[submodule "extern/html-textview"]
	path = extern/html-textview
	url = https://github.com/open-keychain/html-textview.git
[submodule "extern/openpgp-api-lib"]
	path = extern/openpgp-api-lib
	url = https://github.com/open-keychain/openpgp-api-lib.git
[submodule "extern/openkeychain-api-lib"]
	path = extern/openkeychain-api-lib
	url = https://github.com/open-keychain/openkeychain-api-lib.git
[submodule "extern/SuperToasts"]
	path = extern/SuperToasts
	url = https://github.com/open-keychain/SuperToasts.git
[submodule "extern/KeybaseLib"]
	path = extern/KeybaseLib
	url = https://github.com/open-keychain/KeybaseLib.git
[submodule "extern/minidns"]
	path = extern/minidns
	url = https://github.com/open-keychain/minidns.git
[submodule "OpenKeychain-Test/src/test/resources/extern/OpenPGP-Haskell"]
	path = OpenKeychain-Test/src/test/resources/extern/OpenPGP-Haskell
	url = https://github.com/singpolyma/OpenPGP-Haskell.git
