language: android
jdk: openjdk7
# container based build, we don't need root anyways
sudo: false
# env:
    # global:
        # - ANDROID_API_LEVEL=21
          # - ANDROID_ABI=armeabi-v7a
          # - ADB_INSTALL_TIMEOUT=8 # minutes (2 minutes by default)
android:
    components:
        - build-tools-23.0.1
        - build-tools-22.0.1
        - build-tools-21.1.2
        - build-tools-21.1.1
        - build-tools-19.1.0
        - android-23
        - android-22
        - android-21
        - android-19
        - platform-tools
        - extra-android-support
        - extra-android-m2repository
    licenses:
        - 'android-sdk-preview-license-52d11cd2'
        - 'android-sdk-license-.+'
        - 'google-gdk-license-.+'

# doesn't work, travis is just too slow
# before_script:
# - echo no | android create avd --force -n test -t android-$ANDROID_API_LEVEL --abi $ANDROID_ABI
# - emulator -avd test -no-skin -no-audio -no-window &
# - ./tools/android-wait-for-emulator
# - adb shell input keyevent 82 &

script:
    # - ./gradlew connectedAndroidTest
    - ./gradlew --stacktrace testDebug jacocoTestReport coveralls
