<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.thialfihar.android.apg.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="org.thialfihar.android.apg.permission.ACCESS_API" />
    <uses-permission android:name="org.thialfihar.android.apg.permission.ACCESS_KEYS" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <application
        android:icon="@drawable/icon"
        android:label="APG API Demo" >
        <activity
            android:name=".BaseActivity"
            android:label="APG API Demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntentDemoActivity"
            android:label="Intent Demo 1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AidlDemoActivity"
            android:label="Aidl Demo (ACCESS_API permission)"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AidlDemoActivity2"
            android:label="Aidl Demo (ACCESS_KEYS permission)"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ContentProviderDemoActivity"
            android:label="Content Provider Demo"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>