<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sufficientlysecure.keychain.demo"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="OpenPGP Keychain API Demo">
        <activity
            android:name=".BaseActivity"
            android:label="OpenPGP Keychain API Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenPgpProviderActivity"
            android:label="OpenPGP Provider"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IntentActivity"
            android:label="Intents" />
    </application>

</manifest>